In [1]:
#exercise 1
print(7+10)

17

In [2]:
#Addition
print(7+10)

17

In [3]:
#Subtraction
print(25-12)

13

In [4]:
#Multiplication
print(3*5)

15

In [5]:
#Division
print(10/2)

5.0

In [6]:
#Remainder
print(18%7)

4

In [7]:
#power
print(4**2)

16

In [8]:
#Solve the following question of SI 
#John invest Rs 5000 in a saving a/c at an annual rate of 7% for 5 years
#(A)How much money did he earned in intrest?
P= input("enter the principal amount")
R=input("enter the rate of interest")
N=input("enter the no of years")
SI= (float(P)*float(N)*float(R))/100
print("the total interest earned is",SI)

#(B)What is the total value of his saving accunt at this point
Total_value= float(P)+ float(SI)
print("the total value is",Total_value)

enter the principal amount5000
enter the rate of interest7
enter the no of years5
the total interest earned is 1750.0
the total value is 6750.0

In [9]:
#Sally invest $8000 into an account payuing an annual intreat rate of 8.7%.How many years it will take for her to earn $4872 in intrest?
P=input("enter the principal amount")
R=input("enter the rate of interest")
SI=input("enter the interest earned")
T=(float(SI)*100)/(float(P)*float(R))
print("The total no of years is",T)

enter the principal amount8000
enter the rate of interest8.7
enter the interest earned4872
The total no of years is 7.0

In [10]:
#(3)Marie invest $3000 into a saving a/c ,In 4 years she earns a total of $768 in intrest.What is the annual intrest rate offered by this account?
print((float(768)*100)/(float(3000)*float(4)))

6.4

In [11]:
#Suppose you have $100.......print the result
print(float(100)*(float(1.1)**7))

194.87171000000012

In [12]:
#END OF EXERCISE 1.....XXX

#EXERCISE 2
#Exercise 2
#(1)Create a variable saving
savings=100
print(savings)
#Create a variable growth_multiplier
growth_multiplier=float(1.1)
print(growth_multiplier)
#create variable result
result=194.87171000000012
print(result)

100
1.1
194.87171000000012

In [13]:
#creating string
desc="compound interest"
type(desc)

str

In [14]:
#boolean
profitable=True
type(profitable)

bool

In [17]:
A=10.7
type(A)

float

In [18]:
B="This is python course"
type(B)

str

In [19]:
C=False
type(C)

bool

In [22]:
savings=100
growth_multiplier=1.1
desc="compound Interest "
year1=print(float(savings)*float(growth_multiplier))

doubledesc=str(desc)+str(desc)
print(doubledesc)
savings=100
growth_multiplier=1.1
desc="compound Interest "
year1=print(float(savings)*float(growth_multiplier))

doubledesc=str(desc)+str(desc)
print(doubledesc)

110.00000000000001
compound Interest compound Interest
110.00000000000001
compound Interest compound Interest

In [23]:
pi_string="3.1415926"
pi_float= float(pi_string)
double_pi=print(pi_float*2)

6.2831852

In [24]:
print(str(5)+" to strings")
print("I said "+("Hey"*2)+"Hey!")
#print("the correct answer to this multiple choice exercise is answer number"+2)  this statement gives an error
print(True+False)

5 to strings
I said HeyHeyHey!
1

In [25]:
#Exercise 3..........XXX
#check wheter the given no is even or not
num=input("enter the number")
if float(num)%2==0:
    print("the number is even")
else:
    print("the number is odd")

enter the number5
the number is odd

In [26]:
#converting temperature in degree /centigrade to fahrenheit
T=input("enter the temperature in celsius")
F= (float(T)*1.8)+32
print("the temperature in fahrenheit is ",F)

enter the temperature in celsius30
the temperature in fahrenheit is  86.0

In [30]:
#Calculate area of triangle
import math
math.sqrt
side1=input("enter the side1 ")
side2=input("enter the side2 ")
side3=input("enter the side3 ")
a= float(side1)
b=float(side2)
c=float(side3)
S=(a+b+c)/2
area=math.sqrt(S*(S-a)*(S-b)*(S-c))
print(area)

enter the side1 4
enter the side2 3
enter the side3 6
5.332682251925386

In [29]:
#Calculate area and circumference of circle
import math
radius=4
print("PI is",math.pi)
print("Area is",math.pi*(int(radius)**2))

PI is 3.141592653589793
Area is 50.26548245743669

In [31]:
#Check whether a given input is multiple of 5 or not
num=input("enter the number")
n=float(num)
if float(n%5==0):
    print("multiple of 5")
else:
    print("not a multiple of 5")

enter the number65
multiple of 5